<h1>Employees list</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Hour</th>
    </tr>
  </thead>
  <tbody>
      <% @employees.each do |employee| %>
    <tr>
      <th scope="row"><%= employee.id %></th>
      <td><%= link_to employee.name, employee_path(employee)%></td>
      <td><%= employee.surname%></td>
      <td><%= employee.hours%></td>
    </tr>
      <% end %>
  </tbody>
</table>
<%= link_to "Add new employee", new_employee_path %>
